/*CETEIcean output styling*/
tei-hyperdiv {
  display: none;
}
tei-teiheader {
  display: none;
}
tei-cb {
  display: none;
}
tei-lb{
  display: none;
}
tei-head {
  font-size: 2em;
}
tei-figdesc {
  display: none;
}
tei-stage{
  font-size: 1em;
  text-decoration: underline;
  text-align: right;
}
tei-castitem{
  text-decoration: solid;
}
tei-fw{
  display: none;
}
tei-div > tei-head{
  text-indent: 0em;
}
#TEI {
  padding: 2em 1em 2em 1em;
}
tei-l{
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 2em;
}
tei-p{
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 2em;
}
/*general styles*/
html{
  margin: 0px;
  height: 100%;
  padding: 0px;
  font-family: 'Lato', sans-serif;
   /*the reason this is set to hidden is because theres jQuery that makes the display 
  jump around a little while the page is loading. This CSS hides the content until jQuery
  tells it to un-hide it when every thing has loaded properly*/
  visibility: hidden;
}
body {
  margin: 0px;
  width: 100%;
}
.container {
  width: 80%;
  height: 80%;
  margin: 0 auto;
  overflow: hidden;
}
h1{
  margin: 0px;
  padding: .5em 0em .5em 0em;
}
  /*Nav bar styling*/
#navbg{
  background-color: #34b4eb;
}
ul.nav{
  list-style-type: none;
  margin-bottom: 1em;
  margin: auto;
  width: 100%;
  padding: 0em;
  overflow: hidden;
  background-color: #34b4eb;
}
ul.nav li {
  float: left;
}
ul.nav li#headline{
  text-align: center;
  padding: 1em 2em 1em 0em;
}
ul.nav li a {
  display: block;
  color: 	#383838;
  text-align: center;
  padding: 1em 2em;
  text-decoration: none;
}

ul.nav li a:hover:not(.active) {
  background-color: #3483eb;
}

ul.nav li a.active {
  color: 	#383838;
  background-color: #3483eb;
}
 /*Annotation styling*/
#annotation{
  position: fixed;
  bottom: 50px;
  right: 50px;
  color: #F27405;
}
/*Footer styles*/
#footer{
  background-color: #34b4eb;
}