tei-l{
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 2em;
  }
  tei-p{
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 2em;
  }
  tei-stage{
    font-size: 1em;
    text-decoration: underline;
    text-align: right;
  }
  tei-castitem{
    text-decoration: solid;
  }
  