<div id="navbg">
  <div class="container">
    <ul class="nav">
      <li id="headline"><strong>Pilot</strong></li>
      <li><a href="/">Home</a></li>
      <li><a href="/collection">Collection</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </div>
</div>
