{% layout "base.liquid" %}
{% block content %}
<button type="button" id="swap">Swap Long S</button>
<div id="TEI">
</div>
<script src="../assets/js/CETEI.js"></script>
<script>
  function insertAfter(newNode, referenceNode) {
    referenceNode.parentNode.insertBefore(newNode, referenceNode.nextSibling);
  }
  var CETEIcean = new CETEI();
  let behaviors = {
    "tei": {
      /*"castItem": [
        ["tei-castgroup>tei-castitem", function(elt) {
          var listitem = document.createElement("LI");
          listitem.innerHTML = elt.innerHTML;
          return listitem;
      }]
    ],*/
      "castList" : ["<ul>", "</ul>"]
    }
  };
  CETEIcean.addBehaviors(behaviors);
  CETEIcean.getHTML5("{{filename}}", function (data) {
    //parse out data variable
    document.getElementById("TEI").innerHTML = "";
    document.getElementById("TEI").appendChild(data);
    CETEIcean.addStyle(document, data);
  });

    // Alternatively, use then()
    // (new CETEI).getHTML5('testTEI.xml').then(function(data){
    //   document.getElementById("TEI").appendChild(data);
    // });

</script>
<script src="https://hypothes.is/embed.js" async></script>
<!--<script src="/assets/js/castlist.js" type="text/javascript" sync></script>-->
<script src="/assets/js/longs.js" type="text/javascript" sync></script>
{% endblock %}